{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Buddy</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'room.css' %}">
    <link rel="stylesheet" href="{% static 'forms.css' %}">
    <link rel="stylesheet" href="{% static 'delete.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="{% static 'profile.css' %}">

</head>

<body>

    {% include 'navbar.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>